{% extends "post/base.html" %}

{% block base_style %}
<style>
  input {
    border: 1px solid #c3c3c3 !important;
  }
</style>
{% endblock base_style %}

{% block base_activePage %}
active
{% endblock base_activePage %}

{% block base_main %}

<div class="mt-xxl-5 mb-xxl-5">
  <div class="container-fluid h-custom">
    <div class="col d-flex justify-content-center align-items-center h-100 ">
      <div class="card col-md-9 col-lg-6">
        {% if post.image %}
        <div class="bg-secondary bg-opacity-25 rounded p-1">
          <img class="card-img-top" src="media/{{ post.image.name }}">
        </div>
        {% endif %}
        <div class="card-body">
          <h4 class="card-title">{{ post.title }}</h4>
          <h6 class="card-subtitle text-muted">{{ post.user }}</h6>
        </div>
        <div class="card-body">
          <p class="card-text">{{ post.content }}</p>
        </div>
        <br>
        <div class="card-columns m-2 d-flex flex-column gap-1">
          <h5>Comentários:</h5>
          <div class="form-outline mb-4">
            <form action="{% url 'post:details' post.pk %}" method="post">
              {% csrf_token %}
              <label for="id_login" class="form-label">Adicionar um comentário:</label>
              <div class="d-flex gap-1">
                <input type="text" class="form-control" name="content" id="id_content" required max-length="255"
                  placeholder="Escreva aqui seu comentário..." />
                <button type="submit" class="btn btn-outline-primary btn-sm" id="submitBtn" disabled>Comentar</button>
              </div>
            </form>
          </div>
          {% if post.comment_set.all %}
          {% for comment in post.comment_set.all %}
          <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
              <h5 class="card-title">{{ comment.user }}</h5>
              <p class="card-text">{{ comment.content }}</p>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <span class="card-text">Esse post ainda não tem comentário.</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('id_content').addEventListener('input', function () {
      var commentInput = this.value.trim();
      var submitBtn = document.getElementById('submitBtn');
      submitBtn.disabled = commentInput === '';
  });
</script>
{% endblock base_main %}